.header {
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(8, 8, 8);
  }
  
  .menu {
    width: 100%;
    margin: 0 auto;
  }
  
  .menu_up {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .menu_up_punkt {
    align-items: center;
    width: 20%;
    display: flex;

  }

  .link {
    display: flex;
    text-decoration: none;
    align-items: center;
  }
  
  .width_4px {
    display: flex;
    width: 4px;
    background-color: rgb(8, 8, 8);
  }

    
  .menu_up_punkt:nth-child(3) {
    width: 30%;
    justify-content: center;
  }
  
  .menu_up_punkt:last-child {
    width: 30%;
    justify-content: end;
  }
  
  
  